
/* Logo */
.logo{
    color: #007bff;
    font-size: 2rem;
    font-weight: bold;
}


.icono{
    font-size: 5rem;
    color: #007bff;
}

/* footer */
footer{
    min-height: 30rem;
    color: white;
    background-color: #03001C
}