
/* Logo */
.logo{
    color: #007bff;
    font-size: 2rem;
    font-weight: bold;
}
/* Buscador */
@media (min-width: 768px) {
    .buscador{
        display: flex;
        justify-content: space-between;
    }
}

.icono{
    font-size: 5rem;
    color: #007bff;
}

.box-team {
    display: flex;
}

/* footer */
footer{
    /* min-height: 30rem; */
    color: white;
    background-color: #03001C
}