# Oculto las carpetas del proyecto
Options All -Indexes

# Configurar redireccion de peticiones
ErrorDocument 403 /sicopa/index.php
ErrorDocument 404 /sicopa/index.php

# Habilitamos la funcionalidad de url amigable
RewriteEngine On
RewriteRule ^([-a-zA-Z0-9/]+)$ index.php?ruta=$1


# Developed by Francisco Virbes